body {width: 100%; height: 100vh; font-family: Arial, Helvetica, sans-serif; font-weight: 400; line-height: normal;-webkit-font-smoothing: antialiased; background-color: black; color: #fff;}

h1 {font-size: 64px; font-weight: 700px; line-height: 64px;font-family: 'NetflixSans_W_Bd';}
 .h1_50px {font-size: 50px; font-weight: 700px; line-height: 60px;font-family: 'NetflixSans_W_Rg';}
h2 {font-size: 26px; font-family: 'NetflixSans_W_Lt'; line-height: 40px;}
h3 {font-size: 19.2px; font-family: 'NetflixSans_W_Lt'; line-height: 19.2px;}
h4 {font-size: 16px; font-family: 'NetflixSans_W_Lt'; line-height: 16px;}
h5 {font-size: 30px; font-family: 'NetflixSans_W_Lt'; line-height: 30px;}

p {font-size: 12px; font-family: 'NetflixSans_W_Lt'; line-height: 18px;}

.text_01 {font-size: 14.4px; font-family: 'NetflixSans_W_Lt'; line-height: 24px;}
.text_02 {font-size: 50px; font-weight: 700px; line-height: 60px;font-family: 'NetflixSans_W_Rg';}
.text_03 {font-size: 13px; font-family: 'NetflixSans_W_Lt'; line-height: 13px;}
/*text color*/
.color_white {color: #fff;}
.color_black {color: #000;}
.color_grey {color: #757575;}
.color_red {color: red;}
.color_blue {color: #0071eb;}


/*text align*/
.text_align_center {text-align: center;}

/*header animation*/
@keyframes home_header_on {
    from{ height: 0px;}
    to { height: 400px;} 
}
@keyframes home_header_off {
    from{ height: 400px;}
    to { height: 0px;} 
}
@keyframes home_header_on2 {
    from{ height: 0px;}
    to { height: 260px;} 
}
@keyframes home_header_off2 {
    from{ height: 260px;}
    to { height: 0px;} 
}